*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto{
    margin: 0 auto;
    text-align: center;
}
.flex{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

header{
    background-color: #ff6900;
    height: 70px;
}

nav ul{
    list-style-type: none;
}

nav img{
    max-width: 30%;
}