*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto{
    margin: 0 auto;
    text-align: center;

}

.fixed{
    position: fixed;
    width: 100%;
}

.flex{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.flex-space{
    justify-content: space-between;
}

.conteiner{
    width: 80%;
}
header{
    background-color: #ff6900;
}

nav ul{
    list-style-type: none;
    color: white;
    line-height: 3rem;
}

li{
    margin: .5rem;
}

nav img{
    max-width: 20%;
}

div.item{
    height: 638px;
    width: calc(100% / 3);
    background-color: aqua;
}

div.img-item{
    height: 85%;
    width: 100%;
}
div.description{
    height: 15%;
    width: 100%;
    text-align: left;
}

img{
    max-width: 100%;
}
footer{
    background-color: #1a1a1a;
}