*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto{
    margin: 0 auto;
    text-align: center;

}
.flex{
     display: flex;
     flex-direction: row;
     align-items: center;
}
.flex-space{
    justify-content: space-between;
}

.conteiner{
    width: 80%;
}
header{
    background-color: #ff6900;
    height: 70px;
}

nav ul{
    list-style-type: none;
}

nav img{
    max-width: 30%;
}

div.item{
    height: 700px;
    width: calc(100% / 3);
    background-color: aqua;
}

div.img-item{
    height: 70%;
    width: 100%;
    background-color: black;
}
div.description{
    height: 30%;
    width: 100%;
    background-color: blue;
}

footer{
    background-color: #1a1a1a;
}